.profile.col-md-2.col-sm-3.col-xs-6.browseImage
  .thumbnail
    = image_tag @image.image.url
.info
  Uploaded User : #{@user.name}
  %br/
  Uploaded at : #{@user.created_at}
  %br/
  MarkDown : #{get_image_absolute_path}
  - if logged_in? && current_user.admin?
    / TODO:なぜかconfirmが動かない・・・
    = link_to "delete", @image, method: :delete,　data: { confirm: "Are you sure?" }
